$primary-color: white;

.footer {
    min-height: 125px;
    padding: 25px 0 10px;
    background-color: #343A40;
    flex-shrink: 0;
    text-align: center;
    a{
        color: $primary-color;
        text-decoration: none;
        &:hover{
            color: #008ae6;
        }
    }
}

.copyright{
    color: $primary-color;
    margin-top: 10px;
}

.icon{
    margin: 0 5px;
}

.socials{
    margin: 5px 0;
}

.socials-icon{
    font-size: 1.5rem;
    margin: 0 10px;
}