@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Open+Sans&display=swap");

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

h1 {
  font-family: "Adamina", serif;
}

h2 {
  font-family: "Adamina", serif;
}

h3 {
  font-family: "Adamina", serif;
}

.adamina {
  font-family: "Adamina", serif;
}

.h-75-screen {
  height: 75vh;
}

.h-50-screen {
  height: 50vh;
}

.nav-item {
  font-family: "Adamina", serif;

  @apply text-secondary mx-2 my-3 text-lg items-center uppercase font-bold leading-snug;
}
