@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Open+Sans&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

body{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Adamina', serif;
}

h2 {
  font-family: 'Adamina', serif;
}

h3 {
  font-family: 'Adamina', serif;
}

.adamina {
  font-family: 'Adamina', serif;
}

.nav-item{
  font-family: 'Adamina', serif;

  @apply px-2 py-1 text-lg flex items-center uppercase font-bold leading-snug;
  
}